# LLM Book Recommender

In [2]:
# Before running, ensure you've installed the
# optional dependencies via:
# pip install kagglehub[pandas-datasets]
import kagglehub
# from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
# file_path = "./data.csv"

path = kagglehub.dataset_download(
    "dylanjcastillo/7k-books-with-metadata",
)
# Load the latest version
# df = kagglehub.load_dataset(
#   KaggleDatasetAdapter.PANDAS,
#   "dylanjcastillo/7k-books-with-metadata",
#   file_path,
#   # Provide any additional arguments like
#   # sql_query or pandas_kwargs. See the
#   # documenation for more information:
#   # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
# )

print(path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.5), please consider upgrading to the latest version (0.3.10).
C:\Users\skyfree\.cache\kagglehub\datasets\dylanjcastillo\7k-books-with-metadata\versions\3

In [3]:
# import data into df
import pandas as pd

books_df = pd.read_csv(f"{path}\\books.csv")

books_df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [4]:
print(books_df.shape)
print(books_df.info())
print(books_df.describe())

(6810, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB
None
             isbn13  published_year  average_rating    num_pages  \
count  6.810000e+03     6804.000000     6767.000000  6767.000000
mean   9.780677e+12     1998.630364        3.933284   348.181026
std    6.068911e+08       10.484257        0.331352   242.376783
min    9.780002e+12     1853.000000        0.000000     0.000000
25%    9.780330e+12     1996.000000        3.770000   208.000000
50%    9.780553e+12     2002.000000        3.960000   304.000000
75%    9.780810e+12     2005.000000        4.130000   420.000000
max    9.789042e+12     2019.000000        5.000000  3342.000000

       ratings_count
count   6.767000e+03
mean    2.106910e+04
std     1.376207e+05
min     0.000000e+00
25%     1.590000e+02
50%     1.018000e+03
75%     5.992500e+03
max     5.629932e+06

In [5]:
## Number of null values
books_df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64